# Мои доп. каталоги
Razn/
.My_*
.my_*


# Виртуальные окружения
.venv/
venv/
env/

# Файлы окружения и секреты
.env
.secrets

# Кэш Python
__pycache__/
*.py[cod]
*.so
.Python

# Логи и дампы
*.log
*.sqlite
*.dump

# IDE
.idea/
.vscode/
*.swp
*.swo

# Poetry (но poetry.lock и pyproject.toml коммитим!)
!.poetry.lock
!.pyproject.toml

# Прочие временные файлы
.DS_Store
Thumbs.db

